{% extends "base_milling.html" %}

{% block image %} 
<div class="card-panel grey lighten-5 z-depth-1">
<!-- <img class="materialboxed" width="650" src="/static/images/contour/circle01.png">-->  
   <img class="materialboxed" width="650" src="{{url_for('static', filename='images/contour/circle01.png')}}">
</div>
{% endblock %}

{% block gemetrical_parameters %}


<div class="row">
   <div class="input-field col s6 m6">
      <input required type="number" min="0.001" max="999.0" step="0.001" placeholder="Enter diameter of circel" name="diameter" id="diameter" class="materialize-input validate"></input>
      <label class="active" for="diameter">{{_('Diameter circle')}}</label>
      <span class="helper-text" data-error="{{_('only positive number > 0 is allowed')}}" ></span>
   </div>
</div>

{% endblock %}
